Options -Indexes

<FilesMatch "(?i)\.(php|phtml|phar|pl|py|cgi|asp|aspx|jsp|sh)$">
    Require all denied
</FilesMatch>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
